/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 01;
}

li {
    list-style: none;
}

:focus-visible {
    outline: none;
}

/*header area stert css*/
.header-area {
    padding-top: 45px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.header-wper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-area {
    display: flex;
    flex-wrap: wrap;
}

.menu-area li {
    padding: 10px 40px;
    cursor: pointer;
}

.menu-area li:last-child {
    padding-right: 0;
}

.menu-area li a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    border-radius: 50px;
    background: #F1A501;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
}

.menu-area li:hover>a::before {
    opacity: 1;
    visibility: visible;
    transform: scaleX(.5);
    width: 100%;
}

.menu-area li:hover>a {
    color: #F1A501;
}

.menu-area li a {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    color: #212832;
    transition: .4s ease-in-out;
    position: relative;
}

.header-btn {
    display: flex;
    flex-wrap: wrap;
}

.header-btn li {
    margin-right: 5px;
}

.header-btn li button:hover {
    border: 1px solid#F1A501;
    border-radius: 5px;
}

.header-btn li button {
    background: none;
    border: none;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: .4s ease-in-out;
}

.header-btn li button a {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    color: #212832;
    transition: .4s ease-in-out;
}

.header-btn li button:hover>a {
    color: #F1A501;
}

.header-btn li select {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    color: #212832;
    border: 1px solid#F1A501;
    border-radius: 5px;
    padding: 10px 25px;
}

/* benner area start css */
.benner-area {
    padding: 85px 0;
    position: relative;
    z-index: 1;
}

.benner-area::before {
    position: absolute;
    content: url(../images/benner-right-bg.svg);
    right: 0;
    top: 0;
}

.benner-area img {
    width: 100%;
    height: 100%;
}

.benner-text {
    margin-top: 130px;
}

.benner-text h5 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: #DF6951;
    margin-bottom: 25px;
}

.benner-text h2 span {
    position: relative;
    z-index: 1;
}

.benner-text h2 span::before {
    content: url(../images/enjoy-botder.svg);
    position: absolute;
    top: 12px;
    left: -20px;
    height: 12px;
    width: 100%;
    z-index: -1;
}

.benner-text h2 {
    font-family: Volkhov;
    font-size: 75px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 30px;
}

.benner-text p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #5E6282;
    margin-bottom: 35px;
}

.benner-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.benner-btn .more-btn {
    background: #F1A501;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
}

.benner-btn .more-btn a {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.video-icon {
    margin-left: 45px;
}

.video-icon a i {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background: #DF6951;
    color: #FFFFFF;
    font-size: 20px;
    padding: 17px 15px 14px 20px;
}

.video-icon a span {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: #686D77;
    margin-left: 5px;
}

/* services area start css */
.services-area {
    margin: 40px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h5 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
    margin-bottom: 10px;
}

.section-title h2 {
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    color: #14183E;
}

.services-wrep {}

.services-item {
    position: relative;
    border-radius: 36px;
    padding: 50px 30px;
    transition: .4s ease-in-out;
}

.services-item:hover {
    background: #FFFFFF;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.services-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.services-item:hover .servic-img img {
    transform: scale(1.3);
}

.services-item::before {
    position: absolute;
    content: '';
    bottom: -24px;
    left: -32px;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #DF6951;
    border-radius: 30px 0px 10px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
}

.servic-img {
    position: relative;
    margin-bottom: 30px;
    z-index: 11;
}

.servic-img img {
    width: 60px;
    height: 60px;
    transition: .4s ease-in-out;
}

.servic-img::before {
    position: absolute;
    content: '';
    top: 22px;
    right: 35px;
    width: 50px;
    height: 50px;
    background: #FFF1DA;
    border-radius: 18px 5px 10px;
    transform: rotate(-180deg);
    z-index: -1;
}

.services-item h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #1E1D4C;
    margin-bottom: 15px;
}

.services-item p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: #5E6282;
}

/* desitna area start css */
.desitna-area {
    margin: 140px 0;
}

.desitna-wrep {
    position: relative;
}

.desitna-wrep::before {
    position: absolute;
    content: url(../images/desitna-bg.svg);
    right: -64px;
    top: 251px;
}

.desitna-item {
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .4s ease-in-out;
    overflow: hidden;
}

.desitna-item:hover {
    box-shadow: none;
    border-radius: 0;
}

.desitna-item:hover.desitna-item img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(1.1);
}

.desitna-item .desitna-img {
    overflow: hidden;
}

.desitna-item img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: .4s ease-in-out;
}

.desitna-item-wrep {
    background: #ffffff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.desitna-item-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #5E6282;
    padding-bottom: 15px;
}

.desitna-item-text span {
    font-weight: 400;
}

.desitna-item-wrep a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
}

.desitna-item-wrep a i {
    margin-right: 10px;
    font-size: 20px;
    color: #F1A501;
}

/* book area start css */
.book-area {}

.section-title.text-left {
    margin-bottom: 30px;
    padding-right: 120px;
}

.book-wrep {
    padding-right: 120px;
}

.book-wrep .book-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.book-wrep .book-item:last-child {
    margin: 0;
}

.book-item .object-icon {
    width: 50px;
    height: 50px;
    background: #F0BB1F;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.object-icon.paymen {
    background: #F15A2B;
}

.object-icon.airport {
    background: #006380;
}

.book-item .object-icon i {
    padding: 13px;
    color: #ffffff;
    font-size: 22px;
}

.book-item .book-item-text {}

.book-item .book-item-text h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color: #5E6282;
}

.book-item .book-item-text p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
    margin: 0;
}

.trip-area {
    margin-top: 40px;
    position: relative;
}

.trip-area::before {
    position: absolute;
    content: '';
    top: 20px;
    right: -45px;
    background: #077ef5;
    z-index: -1;
    height: 120px;
    width: 354px;
    opacity: 0.8;
    filter: blur(150px);
}

.trip-wrep {
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0px 12px 20px 0px hsl(0deg 0% 0% / 17%);
}

.trip-wrep img {
    width: 100%;
    border-radius: 24px;
}

.trip-wrep h2 {
    margin: 25px 0 15px 0;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #14183E;
}

.trip-wrep .trip-date {
    display: flex;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #84829A;

}

.trip-date span {
    position: relative;
    margin-right: 20px;
}

.trip-date span::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 21px;
    background: #84829A;
    right: -11px;
    top: 1px;
}

.trip-icon {
    display: flex;
    align-items: center;
}

.trip-icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin-right: 20px;
    transition: .4s ease-in-out;
    color: #84829A;
}

.trip-icon li:hover {
    background: #F0BB1F;
}

.trip-icon li a {
    color: #84829A;

    transition: .4s ease-in-out;
}

.trip-icon li a i {
    font-size: 20px;
}

.trip-icon li:hover a {
    color: #ffffff;
}